.blue{
    color: blue;
}
.green{
    color: green;
}
#red-back{
    background-color: red;
}
#yellow-back{
    background-color: yellow;
}
.group-40px{
    font-size: 40px;
}
.box-100px{
    width: 100px;
    height:100px;
    background-color: gray;
}
img{
    width: 550px;
}
.box-pic{
    background-image: url(/pic.jpg);
    width: 200px;
    height: 200px;
    background-size: contain;
    color: wheat;
}
.flex-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 200px;
}